/** @format */

.fromWraper {
  border: 1px solid #868686;
  border-radius: 3px;
  padding: 15px 10px;
  background-color: #000;
}
.fromHeader {
  display: flex;
  justify-content: end;
}
.fromHeader .formTitle {
  display: flex;
  justify-content: center;
  font-size: 24px;
  width: 100%;
}
.fromHeader button {
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
}

.fromBody {
  width: 100%;
}
.fromBody .input_box {
  width: 100%;
  padding: 10px 25px;
  font-size: 17px;
}
.fromBody .input_box label {
  display: block;
}
.fromBody .input_box textarea {
  display: block;
  width: 100%;
  resize: none;
  background-color: #cfcfcf;
  padding: 8px;
  color: #000;
}
.fromBody .input_box input {
  display: block;
  width: 100%;
  background-color: #cfcfcf;
  padding: 8px;
  color: #000;
}
.action_box {
  width: 100%;
  display: flex;
  justify-content: end;
  padding: 10px 25px;
}
.action_box button {
  padding: 8px 12px;
  border-radius: 3px;
  color: #000;
  font-weight: bold;
}
.action_box button.submitBtn {
  background-color: #38bdf8;
}
.action_box button.cancelBtn {
  background-color: #dd6b6b;
}
.action_box button.resetlBtn {
  background-color: #dbdd6b;
}
