/** @format */

.net-error {
  width: 100%;
  /* background-color: #ffffff; */
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
}
.not-found {
  width: 100%;
  /* background-color: #ffffff; */
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}
.loader {
  width: 100%;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}
