/** @format */

.ak-text-ellipsis {
  display: inline-block;
  max-width: 450px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.inline-block {
  display: inline-block;
}

.blur-border {
  border: 1px solid #6d6d6d;
}
